/* Empty. Add your own CSS if you like */
table , td , th{
	border: 1px solid black;
}

table{
	border-collapse: collapse;
	width : 100%;
}
th{
	height:20px;
	background-color:#f2f2f2;
	color:black;
}
th , td{
	
	padding:8px;
}